<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889516050511-uo4lmo665qeraem7pbo5fo1b8ust9tdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889516050511-uo4lmo665qeraem7pbo5fo1b8ust9tdm</string>
	<key>API_KEY</key>
	<string>AIzaSyCczZRt_siaV21hsLIv4nHnMvVSCnVkruQ</string>
	<key>GCM_SENDER_ID</key>
	<string>889516050511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omartehsin.CodeBuddy</string>
	<key>PROJECT_ID</key>
	<string>codebuddy-670ef</string>
	<key>STORAGE_BUCKET</key>
	<string>codebuddy-670ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889516050511:ios:eda4d75acd48770d</string>
	<key>DATABASE_URL</key>
	<string>https://codebuddy-670ef.firebaseio.com</string>
</dict>
</plist>